<p>home works!</p>
<div>
    <p>This is image out of folder</p>
    <div class="container">
        Image wiil be here
        <img [src]="image" style="height: 200px; width: 150px;">
        <img src="https://www.w3schools.com/howto/img_avatar.png" style="height: 200px; width: 150px;">

        
        
    </div>
    <p>This is image in Assests</p>
    <div class="container">
        Image wiil be here
        <img src="../../assets/img/image (2).png" style="height: 200px; width: 150px;">
    </div>
</div>
