<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form th:action="@{/employee/save}" method="post" th:object="${employee}">
        <input type="hidden" th:field="*{id}">
        <label>Name</label>
        <input type="text" th:field="*{name}"> <br>

        <label>Email</label>
        <input type="text" th:field="*{email}" > <br>

        <label>Gender</label>
        <input type="radio" th:field="*{gender}" value="Male">Male <br>
        <input type="radio" th:field="*{gender}" value="Female">Female <br>

        <label>DoB</label>
        <input type="date" th:field="*{dob}" >

        <input type="submit" value="Save">

    </form>
</div>

<div style="margin-top: 30px">

    <table style="width: 95%; border:1px solid">
        <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Gender</td>
            <td>DoB</td>
            <td>Action</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="emp:${employeeList}">
            <td th:text="${emp.name}"></td>
            <td th:text="${emp.email}"></td>
            <td th:text="${emp.gender}"></td>
            <td th:text="${emp.dob}"></td>
            <td>
                <a th:href="@{'/employee/edit/'+${emp.id}}">Edit</a>
                <a th:href="@{'/employee/delete/'+${emp.id}}">Delete</a>
            </td>

        </tr>


        </tbody>
    </table>

</div>


</body>
</html>